<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Study Booth</title>
    <link rel="stylesheet" href="static/newcss.css">
</head>   
<html>   
<body style="background-color: #fa9f78">
    <div class="card">
        <div style='font-size: 60px; font-style: oblique'>Study Booth </div>
        <img src="static/iotimage.svg" alt="alt" style="width:30%" />
        <div class="card-body">
            <p class="card-title">Your personal and quiet place to study</p>
            <div class="row">
                <div class="column">
                    <div>No account?</div>
                    <a href="https://localhost10.auth.us-east-1.amazoncognito.com/signup?client_id=1mkqc4nbct1g7o4tphjf7sbkg0&response_type=code&scope=email+openid&redirect_uri=http://localhost:5000/loggedin.html">Register</a>
                </div>
                <div class="column">
                    <div>Already signed up?</div>
                    <a href="https://localhost10.auth.us-east-1.amazoncognito.com/login?client_id=1mkqc4nbct1g7o4tphjf7sbkg0&response_type=code&scope=email+openid&redirect_uri=http://localhost:5000/loggedin.html">Login</a>
                </div>    
            </div>
        </div>
    </div>
</body>
</html>  
