<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Study Booth</title>
    <link rel="stylesheet" href="static/newcss.css">
</head>    
<html>   
<body style="background-color: #fa9f78">
    <div class="card">
        <div style='font-size: 60px; font-style: oblique'>Study Booth </div>
        <img src="static/iotimage.svg" alt="alt" style="width:30%" />
        <div class="card-body">
            <p class="card-title">You have successfully logged out!</p>
            <p>Log back in?<a href="https://localhost10.auth.us-east-1.amazoncognito.com/login?client_id=1mkqc4nbct1g7o4tphjf7sbkg0&response_type=code&scope=email+openid&redirect_uri=http://localhost:5000/loggedin.html">Login</a></p>
        </div>
    </div>
</body>
</html>  